.contact-page
  .page-title
    .bg
      background-image: url(/image/contact-fv.webp)

  .message
    .content
      width: 100%
      max-width: 600px
      justify-content: space-between

      @include sp
        width: fit-content
        flex-direction: column
        gap: 24px

  .link
    .content
      width: 100%
      max-width: 600px

      .item
        flex-wrap: wrap

        gap: 20px 12px

        @include sp
          width: fit-content

          flex-direction: column
          flex-wrap: nowrap

        li
          @include sp
            width: fit-content
            height: fit-content

          a
            @include sp
              width: fit-content
            .icon
              width: 32px
              height: 32px
              cursor: pointer
            .sub
              width: 150px

              font-size: 20px
              line-height: 32px
              font-weight: bold
              cursor: pointer

              margin-left: 10px
