header
  max-width: 1024px
  width: 100%
  height: 70px
  justify-content: space-between
  align-items: center
  background-color: $white

  padding: 0 40px

  position: fixed
  left: 0
  right: 0
  top: 20px

  border-radius: 100px
  box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.16)

  z-index: 20

  .logo
    width: 150px
    height: 42px
  nav
    height: fit-content
    ul
      li
        a
          font-family: Dont
          padding: 14px 20px
          &:hover
            color: $dg4-blue
