.top-page

  .breadcrumbs
    padding-top: 90px

    @include tab
      padding-top: 58px

    @include sp
      padding-top: 33px

  .top-fv
    width: 100%
    height: calc(100vh - 110px)
    min-height: calc( 750px - 110px )

    background-image: url(/image/top-fv.webp)
    background-position: center center
    background-size: cover

    align-items: center

    padding-top: 0

    @include tab
      height: calc(100vh - 70px)
      min-height: calc( 600px - 70px )

    @include sp
      height: calc(100vh - 50px)
      min-height: calc( 600px - 50px )
      padding-left: 12px
      padding-right: 12px

    .logo
      width: 800px
      margin-bottom: 150px

  section
    .container
      .content
        justify-content: space-around
        gap: 40px

        @include sp
          flex-direction: column

        .item
          width: 100%
          max-width: 230px
          flex-direction: column

          @include sp
            max-width: none
            margin-right: 0

          p
            line-height: 24px
            margin-bottom: 20px
        .image
          width: 100%
          max-width: 530px

          @include sp
            max-width: none

    &.works
      .container
        .content
          flex-direction: row-reverse

          @include sp
            flex-direction: column

    &.contact
      background-color: $dg4-indigo

      height: 280px
      align-items: center

      padding-top: 0
      margin-top: 120px
      margin-bottom: 0px

      @include tab
        margin-top: 80px

      @include sp
        padding-left: 12px
        padding-right: 12px
        margin-top: 60px

      .wrapper
        width: 100%
        max-width: 600px

        justify-content: space-between

        align-items: center

        @include sp
          flex-direction: column
          justify-content: start

        .content
          flex-direction: column
          color: $white

          @include sp
            margin-bottom: 20px
            margin-right: auto

          h2
            font-family: 'Dont', sans-serif
            font-size: 60px
            margin-bottom: 20px

        .btn
          @include sp
            margin-right: auto
