.works-page
  .page-title
    .bg
      background-image: url(/image/works-fv.webp)

  section
    .container
      .items
        flex-wrap: wrap
        gap: 25px

        @include sp
          gap: 20px

        .item
          width: 250px
          background-color: #f0f0f0
          padding-bottom: 24px
          border-radius: 10px

          @include sp
            width: 160px
            padding-bottom: 16px

          .image
            height: 170px

            @include sp
              height: 100px

            img
              border-radius: 10px 10px 0 0
          .title
            font-size: 20px
            text-align: center
            font-weight: bold
            margin-top: 20px

            @include sp
              font-size: 16px
          .btn
            margin-top: 15px
            &.disable
              pointer-events: none
              opacity: 60%
    &.font
      .image-desc
        max-width: 500px
        margin-bottom: 30px
