/* html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter:@rich_clark */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

@font-face {
  font-family: 'Dont';
  src: url(/font/Dont.ttf);
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
}

* {
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: -webkit-image-set(url(/image/cursor-normal.png) 1x, url(/image/cursor-normal@2x.png) 2x), default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 800px;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 1024px) {
  .is-pc {
    display: block;
  }
  .is-tab {
    display: none;
  }
  .is-sp {
    display: none;
  }
}

@media (max-width: 1024px) {
  .is-pc {
    display: none;
  }
  .is-tab {
    display: block;
  }
  .is-sp {
    display: none;
  }
}

@media (max-width: 640px) {
  .is-pc {
    display: none;
  }
  .is-tab {
    display: none;
  }
  .is-sp {
    display: block;
  }
}

.breadcrumbs {
  width: 100%;
  background-color: #00d4d4;
  padding-top: 106px;
  padding-bottom: 20px;
  z-index: 10;
}

@media (max-width: 1024px) {
  .breadcrumbs {
    padding: 82px 20px 12px 20px;
  }
}

@media (max-width: 640px) {
  .breadcrumbs {
    padding: 67px 12px 17px 12px;
  }
}

.breadcrumbs .wrapper {
  width: 100%;
  max-width: 1024px;
}

@media (max-width: 1024px) {
  .breadcrumbs .wrapper {
    max-width: none;
  }
}

.breadcrumbs .wrapper a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.breadcrumbs .wrapper a:not(:first-child) {
  margin-left: 15px;
}

.breadcrumbs .wrapper a:not(:first-child)::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 20px;
  margin-bottom: 1px;
}

.page-title {
  padding-top: 0px;
  height: 300px;
  position: relative;
}

@media (max-width: 1024px) {
  .page-title {
    height: 200px;
  }
}

@media (max-width: 640px) {
  .page-title {
    height: 120px;
  }
}

.page-title h1 {
  width: 100%;
  max-width: 1024px;
  font-family: 'Dont', sans-serif;
  font-size: 100px;
  color: #fff;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media (max-width: 1024px) {
  .page-title h1 {
    max-width: none;
    width: calc( 100% - 40px);
  }
}

@media (max-width: 640px) {
  .page-title h1 {
    width: calc( 100% - 24px);
    font-size: 60px;
  }
}

.page-title .bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

section {
  padding-top: 120px;
}

@media (max-width: 1024px) {
  section {
    padding-top: 80px;
  }
}

@media (max-width: 640px) {
  section {
    padding-top: 60px;
  }
}

section .container h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  position: relative;
  font-family: 'Dont', sans-serif;
  font-size: 60px;
  padding-top: 20px;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  section .container h2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 640px) {
  section .container h2 {
    height: 50px;
    font-size: 36px;
    padding-top: 10px;
    margin-bottom: 40px;
  }
}

section .container h2::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(/image/h2-l.svg);
  background-size: cover;
  background-position: center center;
  top: 0px;
  left: -130px;
}

@media (max-width: 640px) {
  section .container h2::before {
    width: 50px;
    height: 50px;
    left: -75px;
  }
}

section .container h2::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(/image/h2-r.svg);
  background-size: cover;
  background-position: center center;
  top: 0px;
  right: -130px;
}

@media (max-width: 640px) {
  section .container h2::after {
    width: 50px;
    height: 50px;
    right: -75px;
  }
}

section .container .content:not(:nth-of-type(1)) {
  padding-top: 80px;
}

@media (max-width: 1024px) {
  section .container .content:not(:nth-of-type(1)) {
    padding-top: 60px;
  }
}

@media (max-width: 640px) {
  section .container .content:not(:nth-of-type(1)) {
    padding-top: 40px;
  }
}

section .container .content h3 {
  font-family: 'Dont', sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  section .container .content h3 {
    font-size: 22px;
  }
}

section .container .content h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #00d4d4;
  margin-top: 20px;
}

section:last-child {
  margin-bottom: 160px;
}

@media (max-width: 1024px) {
  section:last-child {
    margin-bottom: 120px;
  }
}

@media (max-width: 640px) {
  section:last-child {
    margin-bottom: 80px;
  }
}

a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: -webkit-image-set(url(/image/cursor-pointer.png) 1x, url(/image/cursor-pointer@2x.png) 2x), pointer;
}

@media (max-width: 640px) {
  a {
    font-size: 16px;
  }
}

a.btn {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  background-color: #fff;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-box-shadow: 4px 4px 0px 0px #333;
          box-shadow: 4px 4px 0px 0px #333;
}

@media (max-width: 640px) {
  a.btn {
    width: 120px;
    height: 40px;
    line-height: 40px;
  }
}

a.btn.blue {
  background-color: #00d4d4;
  color: #fff;
}

a.btn.mail {
  cursor: -webkit-image-set(url(/image/cursor-pointer.png) 1x, url(/image/cursor-pointer@2x.png) 2x), pointer;
}

a.btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px #333;
          box-shadow: 0px 0px 0px 0px #333;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header {
  max-width: 1024px;
  width: 100%;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 0 40px;
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.16);
  z-index: 20;
}

@media (max-width: 1024px) {
  header {
    top: 0px;
    border-radius: 0px;
  }
}

@media (max-width: 640px) {
  header {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 11px 12px;
  }
}

@media (max-width: 640px) {
  header .totop {
    margin-right: auto;
  }
}

header .totop .logo {
  width: 150px;
  height: 42px;
  cursor: -webkit-image-set(url(/image/cursor-pointer.png) 1x, url(/image/cursor-pointer@2x.png) 2x), pointer;
}

@media (max-width: 640px) {
  header .totop .logo {
    width: 100px;
    height: 28px;
    margin-right: auto;
  }
}

header #menu {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 640px) {
  header #menu {
    display: none;
  }
}

@media (max-width: 640px) {
  header #menu.open {
    display: block;
    width: 100%;
  }
}

@media (max-width: 640px) {
  header #menu.open ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

header #menu ul li a {
  font-family: 'Dont', sans-serif;
  padding: 14px 20px;
}

@media (max-width: 1024px) {
  header #menu ul li a {
    font-size: 20px;
    padding: 16px;
  }
}

header #menu ul li a:hover {
  color: #00d4d4;
}

header #menuopen {
  position: fixed;
  top: 0;
  right: 12px;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #menuopen .hamburger {
  width: 16px;
  height: 11px;
  border-top: solid 3px #333;
  border-bottom: solid 3px #333;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

footer {
  background-color: #00d4d4;
  padding-top: 30px;
  padding-bottom: 90px;
}

@media (max-width: 1024px) {
  footer {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}

footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container ul {
  gap: 0 40px;
}

@media (max-width: 1024px) {
  footer .container ul {
    display: none;
  }
}

footer .container ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px 0;
}

footer .container ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

footer .container ul li a.page-link {
  font-family: 'Dont', sans-serif;
  font-size: 32px;
  font-weight: normal;
  opacity: 0.6;
}

footer .container .credit .logo-white {
  width: 150px;
  height: 42px;
  margin-bottom: 16px;
}

footer .container .credit a {
  text-decoration: underline;
  display: block;
  margin-bottom: 12px;
}

footer .container .credit a, footer .container .credit p {
  font-size: 12px;
  color: #fff;
}

footer .support {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #1055a1;
  border-radius: 5px;
  padding: 4px 18px 6px 18px;
}

footer .support .wrap {
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-image-set(url(/image/cursor-pointer.png) 1x, url(/image/cursor-pointer@2x.png) 2x), pointer;
}

footer .support .wrap .icon {
  margin-right: 5px;
  width: 15px;
  cursor: -webkit-image-set(url(/image/cursor-pointer.png) 1x, url(/image/cursor-pointer@2x.png) 2x), pointer;
}

footer .support .wrap .text {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: -webkit-image-set(url(/image/cursor-pointer.png) 1x, url(/image/cursor-pointer@2x.png) 2x), pointer;
}

.top-page .breadcrumbs {
  padding-top: 90px;
}

@media (max-width: 1024px) {
  .top-page .breadcrumbs {
    padding-top: 58px;
  }
}

@media (max-width: 640px) {
  .top-page .breadcrumbs {
    padding-top: 33px;
  }
}

.top-page .top-fv {
  width: 100%;
  height: calc(100vh - 110px);
  min-height: calc( 750px - 110px);
  background-image: url(/image/top-fv.webp);
  background-position: center center;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
}

@media (max-width: 1024px) {
  .top-page .top-fv {
    height: calc(100vh - 70px);
    min-height: calc( 600px - 70px);
  }
}

@media (max-width: 640px) {
  .top-page .top-fv {
    height: calc(100vh - 50px);
    min-height: calc( 600px - 50px);
    padding-left: 12px;
    padding-right: 12px;
  }
}

.top-page .top-fv .logo {
  width: 800px;
  margin-bottom: 150px;
}

.top-page section .container .content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 40px;
}

@media (max-width: 640px) {
  .top-page section .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-page section .container .content .item {
  width: 100%;
  max-width: 230px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 640px) {
  .top-page section .container .content .item {
    max-width: none;
    margin-right: 0;
  }
}

.top-page section .container .content .item p {
  line-height: 24px;
  margin-bottom: 20px;
}

.top-page section .container .content .image {
  width: 100%;
  max-width: 530px;
}

@media (max-width: 640px) {
  .top-page section .container .content .image {
    max-width: none;
  }
}

.top-page section.works .container .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 640px) {
  .top-page section.works .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-page section.contact {
  background-color: #1055a1;
  height: 280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  margin-top: 120px;
  margin-bottom: 0px;
}

@media (max-width: 1024px) {
  .top-page section.contact {
    margin-top: 80px;
  }
}

@media (max-width: 640px) {
  .top-page section.contact {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 60px;
  }
}

.top-page section.contact .wrapper {
  width: 100%;
  max-width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 640px) {
  .top-page section.contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.top-page section.contact .wrapper .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

@media (max-width: 640px) {
  .top-page section.contact .wrapper .content {
    margin-bottom: 20px;
    margin-right: auto;
  }
}

.top-page section.contact .wrapper .content h2 {
  font-family: 'Dont', sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  .top-page section.contact .wrapper .btn {
    margin-right: auto;
  }
}

.about-page .page-title .bg {
  background-image: url(/image/about-fv.webp);
}

.about-page section .container .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-page section.overview .container .infomation .item {
  gap: 50px;
}

@media (max-width: 640px) {
  .about-page section.overview .container .infomation .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.about-page section.overview .container .infomation .item .image {
  width: 160px;
  height: 160px;
}

.about-page section.overview .container .infomation .item tbody {
  height: 160px;
}

.about-page section.overview .container .infomation .item tbody tr td {
  vertical-align: middle;
  line-height: 32px;
}

.about-page section.overview .container .infomation .item tbody tr td.left {
  width: 110px;
  font-weight: bold;
}

.about-page section.overview .container .logo .item p {
  text-align: center;
  margin-bottom: 16px;
}

.about-page section.overview .container .logo .item .images {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .about-page section.overview .container .logo .item .images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 640px) {
  .about-page section.overview .container .logo .item .images {
    gap: 30px;
  }
}

.about-page section.overview .container .logo .item .images .sq {
  width: 250px;
  height: 250px;
}

@media (max-width: 640px) {
  .about-page section.overview .container .logo .item .images .sq {
    width: 150px;
    height: 150px;
  }
}

.about-page section.overview .container .logo .item .images .row {
  width: 500px;
  height: 138px;
}

@media (max-width: 640px) {
  .about-page section.overview .container .logo .item .images .row {
    width: 300px;
    height: 83px;
  }
}

.about-page section.overview .container .meaning .item {
  width: 100%;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
}

@media (max-width: 640px) {
  .about-page section.overview .container .meaning .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 30px;
  }
}

.about-page section.overview .container .meaning .item li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about-page section.overview .container .meaning .item li .phrase {
  font-family: 'Dont', sans-serif;
  font-size: 64px;
  margin-bottom: 12px;
}

@media (max-width: 640px) {
  .about-page section.overview .container .meaning .item li .phrase {
    font-size: 56px;
  }
}

.about-page section.overview .container .meaning .item li .phrase .blue {
  color: #00d4d4;
}

.about-page section.overview .container .meaning .item li .phrase .noto {
  font-family: Noto Sans JP;
  font-weight: bold;
}

.about-page section.overview .container .meaning .item li .mean {
  line-height: 24px;
}

.about-page section.skill .container .content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about-page section.skill .container .content ul li:not(:first-child) {
  margin-top: 40px;
}

.about-page section.skill .container .content ul li .skill-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.about-page section.skill .container .content ul li .parameter {
  gap: 2.25%;
}

.about-page section.skill .container .content .btn {
  margin-top: 40px;
}

.about-page section.tool .container .content .items {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px 26px;
}

@media (max-width: 1024px) {
  .about-page section.tool .container .content .items {
    max-width: 719px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 640px) {
  .about-page section.tool .container .content .items {
    gap: 20px 5px;
  }
}

.about-page section.tool .container .content .items .item {
  width: 180px;
  background-color: #f0f0f0;
  padding-top: 16px;
  padding-bottom: 12px;
  border-radius: 8px;
}

@media (max-width: 640px) {
  .about-page section.tool .container .content .items .item {
    width: 160px;
  }
}

.about-page section.tool .container .content .items .item-img {
  width: 140px;
  margin-bottom: 10px;
}

.about-page section.tool .container .content .items .item p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about-page section.tool .container .content .items .item-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 640px) {
  .about-page section.tool .container .content .items .item-name {
    font-size: 12px;
  }
}

.about-page section.tool .container .content .items .item-gen {
  font-size: 12px;
  color: #999;
}

.works-page .page-title .bg {
  background-image: url(/image/works-fv.webp);
}

.works-page .flow .container .content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px 20px;
}

@media (max-width: 640px) {
  .works-page .flow .container .content .items {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .works-page .flow .container .content .items .item {
    width: 100%;
  }
}

.works-page .flow .container .content .items .item:not(:nth-of-type(1)) {
  margin-top: 20px;
}

.works-page .flow .container .content .items .item .number {
  width: 80px;
  height: 100px;
  font-family: 'Dont', sans-serif;
  font-size: 64px;
  background-color: #00d4d4;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
  padding-left: 8px;
}

@media (max-width: 1024px) {
  .works-page .flow .container .content .items .item .number {
    height: 80px;
    font-size: 56px;
  }
}

@media (max-width: 640px) {
  .works-page .flow .container .content .items .item .number {
    width: 60px;
    font-size: 48px;
  }
}

.works-page .flow .container .content .items .item .number .fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.works-page .flow .container .content .items .item .label {
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  padding-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0f0f0;
}

@media (max-width: 1024px) {
  .works-page .flow .container .content .items .item .label {
    width: 270px;
  }
}

@media (max-width: 640px) {
  .works-page .flow .container .content .items .item .label {
    width: 100%;
    padding-left: 12px;
  }
}

.works-page .flow .container .content .items .item .label .text {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .works-page .flow .container .content .items .item .label .text {
    font-size: 16px;
  }
}

.works-page .flow .container .content .items .item .label .badge {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  color: #fff;
  padding: 8px 14px;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .works-page .flow .container .content .items .item .label .badge {
    font-size: 12px;
  }
}

.works-page .flow .container .content .items .item .label .badge.hide {
  visibility: hidden;
}

.works-page .flow .container .content .items .item .label .badge.blue {
  background-color: #00d4d4;
}

.works-page .flow .container .content .items .item .label .badge.orange {
  background-color: #d44e00;
}

.works-page .flow .container .content .items .item .label .badge.indigo {
  background-color: #1055a1;
}

.works-page .flow .container .btn {
  margin-top: 40px;
}

.works-page .plan .container .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 32px;
}

.works-page .plan .container .content .items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .works-page .plan .container .content .items {
    gap: 20px 25px;
  }
}

.works-page .plan .container .content .items .item {
  width: 380px;
  font-weight: bold;
  color: #fff;
  padding: 16px;
}

@media (max-width: 1024px) {
  .works-page .plan .container .content .items .item {
    width: 350px;
  }
}

@media (max-width: 640px) {
  .works-page .plan .container .content .items .item {
    width: 100%;
  }
}

.works-page .plan .container .content .items .item .title {
  font-size: 20px;
  text-align: center;
}

.works-page .plan .container .content .items .item .price {
  font-family: 'Dont', sans-selif;
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin-top: 12px;
}

.works-page .plan .container .content .items .item .text {
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

.works-page .plan .container .content.setplan .items .item {
  background-color: #1055a1;
}

.works-page .plan .container .content.single .items .item {
  background-color: #00d4d4;
}

.works-page .plan .container .btn {
  margin-top: 32px;
}

.works-page .example .container .content .items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

@media (max-width: 640px) {
  .works-page .example .container .content .items {
    gap: 20px;
  }
}

.works-page .example .container .content .items .item {
  width: 250px;
  background-color: #f0f0f0;
  padding-bottom: 24px;
  border-radius: 10px;
}

@media (max-width: 640px) {
  .works-page .example .container .content .items .item {
    width: 160px;
    padding-bottom: 16px;
  }
}

.works-page .example .container .content .items .item .image {
  height: 170px;
}

@media (max-width: 640px) {
  .works-page .example .container .content .items .item .image {
    height: 100px;
  }
}

.works-page .example .container .content .items .item .image img {
  border-radius: 10px 10px 0 0;
}

.works-page .example .container .content .items .item .title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 640px) {
  .works-page .example .container .content .items .item .title {
    font-size: 16px;
  }
}

.works-page .example .container .content .items .item .btn {
  margin-top: 15px;
}

.works-page .example .container .content .items .item .btn.disable {
  pointer-events: none;
  opacity: 60%;
}

.works-page .example .container .content.font .image-desc {
  max-width: 500px;
  margin-bottom: 30px;
}

.contact-page .page-title .bg {
  background-image: url(/image/contact-fv.webp);
}

.contact-page .message .text {
  text-align: center;
  margin-bottom: 32px;
}

.contact-page .message .content {
  width: 100%;
  max-width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 640px) {
  .contact-page .message .content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
}

.contact-page .link .content {
  width: 100%;
  max-width: 600px;
}

.contact-page .link .content .item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 12px;
}

@media (max-width: 640px) {
  .contact-page .link .content .item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 640px) {
  .contact-page .link .content .item li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 640px) {
  .contact-page .link .content .item li a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.contact-page .link .content .item li a .icon {
  width: 32px;
  height: 32px;
  cursor: -webkit-image-set(url(/image/cursor-pointer.png) 1x, url(/image/cursor-pointer@2x.png) 2x), pointer;
}

.contact-page .link .content .item li a .sub {
  width: 150px;
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
  cursor: -webkit-image-set(url(/image/cursor-pointer.png) 1x, url(/image/cursor-pointer@2x.png) 2x), pointer;
  margin-left: 10px;
}

.privacy-page .container .content h3 {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: bold;
}

.privacy-page .container .content .item {
  font-size: 16px;
  line-height: 2em;
}

.privacy-page .container .content .item ul {
  padding-top: 8px;
  padding-left: 24px;
}

.privacy-page .container .content .item ul a {
  word-break: break-all;
  font-size: 16px;
  color: #00d4d4;
  text-decoration: underline;
}

.notfound-page .breadcrumbs {
  padding-top: 90px;
}

@media (max-width: 1024px) {
  .notfound-page .breadcrumbs {
    padding-top: 58px;
  }
}

@media (max-width: 640px) {
  .notfound-page .breadcrumbs {
    padding-top: 33px;
  }
}

.notfound-page .notfound-fv {
  width: 100%;
  height: calc( 100vh - 110px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .notfound-page .notfound-fv {
    height: calc( 100vh - 70px);
  }
}

@media (max-width: 640px) {
  .notfound-page .notfound-fv {
    height: calc( 100vh - 50px);
  }
}

.notfound-page .notfound-fv::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-image: url(/image/top-fv.webp);
  background-position: center center;
  background-size: cover;
  -webkit-filter: blur(16px);
          filter: blur(16px);
  opacity: 0.6;
  z-index: -1;
}

.notfound-page .notfound-fv .content h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Dont', sans-serif;
  font-size: 120px;
  color: #00d4d4;
}

.notfound-page .notfound-fv .content p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Dont', sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */