// My Font
@font-face
  font-family: 'DG4 Atomic Dot'
  src: url('/fonts/DG4AtomicDot-SquareVF.ttf') format('ttf')
  font-weight: normal
  font-style: normal

// Global Styles

body
  font-family: 'Zen Old Mincho', serif

  h1, h2, h3, h4, h5, h6, .title
    font-family: 'Zen Kaku Gothic New', sans-serif
    font-weight: 900
