// font
@font-face
  font-family: 'Dont'
  src: url(/font/Dont.ttf)

@font-face
  font-family: 'Dont round'
  src: url(/font/Dont-round.ttf)

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap)

body
  font-family: 'Noto Sans JP', sans-serif
  color: $text-black

*
  font-weight: normal
  box-sizing: border-box

// image
img
  width: 100%
  height: auto

// flex
.is-flex
  display: flex

// center
.center
  margin-left: auto
  margin-right: auto

// container
.container
  width: $c-width-pc
  @include tab
    width: $c-width-tab
    padding-left: 20px
    padding-right: 20px
  @include sp
    width: $c-width-sp
    padding-left: 12px
    padding-right: 12px

// responsive
@include pc
  .is-pc
    display: block
  .is-tab
    display: none
  .is-sp
    display: none

@include tab
  .is-pc
    display: none
  .is-tab
    display: block
  .is-sp
    display: none

@include sp
  .is-pc
    display: none
  .is-tab
    display: none
  .is-sp
    display: block

.breadcrumbs
  width: 100%
  background-color: $dg4-blue

  padding-top: 106px
  padding-bottom: 20px

  z-index: 10
  .wrapper
    width: 1024px
    a
      font-weight: bold
      text-decoration: none
      color: $white
      font-size: 16px
      &:not(:first-child)
        &::before
          content: ''
          display: inline-block
          width: 7px
          height: 7px
          border-top: solid 2px $white
          border-right: solid 2px $white
          transform: rotate(45deg)

          margin-left: 3px
          margin-right: 10px

section
  margin-top: 120px
  .container
    h2
      width: fit-content
      height: 100px
      position: relative
      font-family: Dont
      font-size: 60px

      padding-top: 20px

      margin-bottom: 80px
      &::before
        content: ''
        position: absolute
        width: 100px
        height: 100px
        background-image: url(/image/h2-l.svg)

        top: 0px
        left: -130px

      &::after
        content: ''
        position: absolute
        width: 100px
        height: 100px
        background-image: url(/image/h2-r.svg)

        top: 0px
        right: -130px

a
  text-decoration: none
  color: $text-black
  font-size: 24px
  transition: all 0.3s
  &.btn
    transition: all 0.3s
    font-weight: bold
    background-color: $white

    width: 160px
    height: 50px
    line-height: 50px
    text-align: center
    vertical-align: middle

    box-shadow: 4px 4px 0px 0px $text-black
    &:hover
      box-shadow: 0px 0px 0px 0px $text-black

      transform: translate(4px, 4px)
  &:hover
    transition: all 0.3s
