.contact-page
  .message .content
    justify-content: center
    gap: 32px

    @include sp
      gap: 24px

  .link .content .item
    max-width: 600px
    justify-content: space-between

    @include sp
      flex-wrap: wrap

    li
      width: calc((100% / 8) - 8px)

      @include sp
        width: calc(25% - 16px)
        margin: 8px

      &:hover
        opacity: 0.5

      a
        display: block
