.works-page
  .page-title .bg
    background-image: url(/assets/image/works-fv.webp)

  section
    .container .items
      flex-wrap: wrap
      gap: 25px

      @include sp
        gap: 20px

      .item
        width: 250px
        background-color: #f0f0f0
        padding-bottom: 24px
        border-radius: 10px

        @include sp
          width: 160px
          padding-bottom: 16px

        .image
          height: 170px

          @include sp
            height: 100px

          img
            border-radius: 10px 10px 0 0
        .title
          font:
            size: 20px
            weight: bold
          text-align: center
          margin-top: 20px

          @include sp
            font-size: 16px
        .btn
          margin-top: 15px
          &.disable
            pointer-events: none
            opacity: 60%

    &.photo .container
      #postList
        flex-wrap: wrap
        .post-photo
          width: 20%
          height: auto

          @include sp
            width: calc( 100% / 3 )
          a
            display: block
            width: 100%
            height: 100%
      .btn
        margin-top: 32px

    &.font .container
      .image-desc
        max-width: 500px
        margin-bottom: 30px
      .items .item
        .item-letter
          height: 170px
          background-color: $dg4-blue
          border-radius: 10px 10px 0 0

          align-items: center

          @include sp
            height: 100px

          .letter-des
            width: fit-content
            height: fit-content

            color: $white
            font-size: 56px

            @include sp
              font-size: 32px

        &.normal .letter-des
          font-family: 'Dont', sans-serif

        &.round .letter-des
          font-family: 'Dont Round', sans-serif

        &.circle .letter-des
          font-family: 'Dont Circle', sans-serif
