@charset "UTF-8";
/* html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter:@rich_clark */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

@font-face {
  font-family: "Dont";
  src: url(/assets/font/Dont.ttf);
}
@font-face {
  font-family: "Dont Round";
  src: url(/assets/font/DontRound.ttf);
}
@font-face {
  font-family: "Dont Circle";
  src: url(/assets/font/DontCircle.ttf);
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  font-weight: normal;
  src: url(/assets/font/ZenKakuGothicNew-Regular.ttf);
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  font-weight: bold;
  src: url(/assets/font/ZenKakuGothicNew-Bold.ttf);
}
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #444444;
}

object {
  pointer-events: none;
}

main {
  min-height: 100vh;
}

header,
main,
footer {
  overflow: hidden;
}

* {
  font-weight: normal;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: -webkit-image-set(url(/assets/image/cursor-normal.png) 1x, url(/assets/image/cursor-normal@2x.png) 2x), default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

#loadElm {
  position: fixed;
  z-index: 65535;
  width: 100%;
  height: 100vh;
  background-color: #00d4d4;
  line-height: 100vh;
  text-align: center;
  font-size: 64px;
  font-family: "Dont", sans-serif;
  color: #ffffff;
}
#loadElm::before {
  content: "Loading...";
}

img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.is-flex {
  display: flex;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 800px;
}
@media (max-width: 1024px) {
  .container {
    width: calc(100% - (20px * 2));
  }
}
@media (max-width: 640px) {
  .container {
    width: calc(100% - (12px * 2));
  }
}

.nav-link {
  display: block;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 20px;
}
.nav-link:hover {
  opacity: 0.5;
}
.nav-link .en {
  font-family: "Dont", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 2px;
}
.nav-link .ja {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}
@media (max-width: 640px) {
  .nav-link .ja {
    font-size: 20px;
  }
}
.nav-link.external {
  display: block;
  width: 360px;
  height: 80px;
  padding: 15px 20px;
  background-color: #ffffff;
  border: 3px solid #00d4d4;
  position: relative;
}
@media (max-width: 640px) {
  .nav-link.external {
    width: 290px;
    height: 70px;
    padding: 10px 20px;
  }
}
.nav-link.external::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 100%;
  background-color: #00d4d4;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.nav-link.external .en {
  position: relative;
  color: rgba(0, 212, 212, 0.5);
}
.nav-link.external .ja {
  color: #00d4d4;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nav-link.external .ja::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  right: -18px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(/assets/image/icon-ext.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.nav-link.external:hover {
  opacity: 1;
}
.nav-link.external:hover::before {
  width: 100%;
  transition: all 0.3s;
}
.nav-link.external:hover .en {
  color: rgba(255, 255, 255, 0.5);
}
.nav-link.external:hover .ja {
  color: #ffffff;
}
.nav-link.external:hover .ja::after {
  background-image: url(/assets/image/icon-ext-white.svg);
}

.page-title {
  padding-top: 0px;
  height: 370px;
  position: relative;
}
@media (max-width: 1024px) {
  .page-title {
    height: 270px;
  }
}
@media (max-width: 640px) {
  .page-title {
    height: 200px;
  }
}
.page-title h1 {
  width: 100%;
  max-width: 1024px;
  color: #ffffff;
  z-index: 5;
  position: absolute;
  margin-top: 35px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@media (max-width: 1024px) {
  .page-title h1 {
    max-width: none;
    width: calc(100% - 40px);
  }
}
@media (max-width: 640px) {
  .page-title h1 {
    width: calc(100% - 24px);
  }
}
.page-title h1 span {
  display: block;
}
.page-title h1 .en {
  font-family: "Dont", sans-serif;
  font-size: 100px;
}
@media (max-width: 1024px) {
  .page-title h1 .en {
    font-size: 64px;
  }
}
@media (max-width: 640px) {
  .page-title h1 .en {
    font-size: 48px;
  }
}
.page-title h1 .ja {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.page-title .bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.about-page .page-title .bg {
  background-image: url("/assets/image/about-fv.webp");
}

.brand-page .page-title .bg {
  background-image: url("/assets/image/brand-fv.webp");
}

.tool-page .page-title .bg {
  background-image: url("/assets/image/tool-fv.webp");
}

.works-page .page-title .bg {
  background-image: url("/assets/image/works-fv.webp");
}

.service-page .page-title .bg {
  background-image: url("/assets/image/service-fv.webp");
}

.contact-page .page-title .bg {
  background-image: url("/assets/image/contact-fv.webp");
}

section {
  padding-top: 120px;
}
@media (max-width: 1024px) {
  section {
    padding-top: 80px;
  }
}
@media (max-width: 640px) {
  section {
    padding-top: 60px;
  }
}
section .container h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  position: relative;
  padding-top: 8px;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  section .container h2 {
    margin-bottom: 60px;
  }
}
@media (max-width: 640px) {
  section .container h2 {
    height: 50px;
    padding-top: 0px;
    margin-bottom: 40px;
  }
}
section .container h2 span {
  display: block;
  text-align: center;
}
section .container h2 .en {
  font-family: "Dont", sans-serif;
  font-size: 60px;
}
@media (max-width: 640px) {
  section .container h2 .en {
    font-size: 40px;
  }
}
section .container h2 .ja {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #00d4d4;
  margin-top: 8px;
}
section .container h2::before, section .container h2::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  top: 0px;
}
section .container h2::before {
  background-image: url(/assets/image/h2-l.svg);
  left: -130px;
}
@media (max-width: 640px) {
  section .container h2::before {
    width: 50px;
    height: 50px;
    left: -75px;
  }
}
section .container h2::after {
  background-image: url(/assets/image/h2-r.svg);
  right: -130px;
}
@media (max-width: 640px) {
  section .container h2::after {
    width: 50px;
    height: 50px;
    right: -75px;
  }
}
section .container .content:not(:nth-of-type(1)) {
  padding-top: 80px;
}
@media (max-width: 1024px) {
  section .container .content:not(:nth-of-type(1)) {
    padding-top: 60px;
  }
}
@media (max-width: 640px) {
  section .container .content:not(:nth-of-type(1)) {
    padding-top: 40px;
  }
}
section .container .content h3 {
  margin-bottom: 32px;
  position: relative;
  padding-left: 24px;
}
@media (max-width: 640px) {
  section .container .content h3 {
    margin-bottom: 20px;
  }
}
section .container .content h3 span {
  display: block;
}
section .container .content h3 .en {
  font-family: "Dont", "Zen Kaku Gothic New", sans-serif;
  font-size: 36px;
}
@media (max-width: 640px) {
  section .container .content h3 .en {
    font-size: 22px;
  }
}
section .container .content h3 .ja {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-top: 8px;
  color: #00d4d4;
}
section .container .content h3::before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: #00d4d4;
  position: absolute;
  left: 0;
}
section .container .note {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 28px;
}
section .container .note .bold {
  font-weight: bold;
}
section:last-child {
  margin-bottom: 160px;
}
@media (max-width: 1024px) {
  section:last-child {
    margin-bottom: 120px;
  }
}
@media (max-width: 640px) {
  section:last-child {
    margin-bottom: 80px;
  }
}

.click {
  cursor: -webkit-image-set(url(/assets/image/cursor-pointer.png) 1x, url(/assets/image/cursor-pointer@2x.png) 2x), pointer;
}
.click > *, .click > * > * {
  cursor: -webkit-image-set(url(/assets/image/cursor-pointer.png) 1x, url(/assets/image/cursor-pointer@2x.png) 2x), pointer;
}

a {
  text-decoration: none;
  color: #444444;
  font-size: 24px;
  transition: all 0.2s;
  cursor: -webkit-image-set(url(/assets/image/cursor-pointer.png) 1x, url(/assets/image/cursor-pointer@2x.png) 2x), pointer;
}
a > * {
  cursor: -webkit-image-set(url(/assets/image/cursor-pointer.png) 1x, url(/assets/image/cursor-pointer@2x.png) 2x), pointer;
}
@media (max-width: 640px) {
  a {
    font-size: 16px;
  }
}
a.btn {
  display: block;
  transition: all 0.2s;
  font-weight: bold;
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 16px;
  box-shadow: 4px 4px 0px 0px #444444;
  transform: translate(-4px, -4px);
}
@media (max-width: 640px) {
  a.btn {
    height: 40px;
    line-height: 40px;
  }
}
a.btn:hover {
  box-shadow: 0px 0px 0px 0px #444444;
  transform: translate(0px, 0px);
}
a:hover {
  transition: all 0.2s;
}

body.is-open {
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header .outside {
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 26px;
  z-index: 1000;
}
@media (max-width: 640px) {
  header .outside {
    padding-left: 12px;
  }
}
header .outside .totop .logo {
  width: 150px;
  height: auto;
}
@media (max-width: 640px) {
  header .outside .totop .logo {
    width: 120px;
  }
}
header .outside .burger {
  width: 90px;
  height: 90px;
  background-color: #00d4d4;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  header .outside .burger {
    width: 65px;
    height: 65px;
  }
}
header .outside .burger .line {
  width: 35px;
  height: 27px;
  position: relative;
}
@media (max-width: 640px) {
  header .outside .burger .line {
    width: 30px;
    height: 19px;
  }
}
header .outside .burger .line-item {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
}
header .outside .burger:hover .line-item1 {
  top: 6px;
}
@media (max-width: 640px) {
  header .outside .burger:hover .line-item1 {
    top: 4px;
  }
}
header .outside .burger:hover .line-item2 {
  visibility: hidden;
  opacity: 0;
}
header .outside .burger:hover .line-item3 {
  top: 18px;
}
@media (max-width: 640px) {
  header .outside .burger:hover .line-item3 {
    top: 12px;
  }
}
header .outside .burger .line-item1 {
  top: 0;
}
header .outside .burger .line-item1.is-open {
  top: 12px;
}
@media (max-width: 640px) {
  header .outside .burger .line-item1.is-open {
    top: 8px;
  }
}
header .outside .burger .line-item2 {
  visibility: visible;
  opacity: 1;
  top: 12px;
}
@media (max-width: 640px) {
  header .outside .burger .line-item2 {
    top: 8px;
  }
}
header .outside .burger .line-item2.is-open {
  visibility: hidden;
  opacity: 0;
}
header .outside .burger .line-item3 {
  top: 24px;
}
@media (max-width: 640px) {
  header .outside .burger .line-item3 {
    top: 16px;
  }
}
header .outside .burger .line-item3.is-open {
  top: 12px;
}
@media (max-width: 640px) {
  header .outside .burger .line-item3.is-open {
    top: 8px;
  }
}
header .inside {
  position: fixed;
  width: 100%;
  z-index: 999;
  justify-content: space-between;
}
header .inside.is-open {
  height: 100vh;
}
header .inside .white {
  position: absolute;
  top: 0;
  left: -60%;
  width: 60%;
  height: 100vh;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  header .inside .white {
    display: none;
  }
}
header .inside .white .link-wrapper ul li:not(:first-child) {
  margin-top: 20px;
}
header .inside .white.is-open {
  left: 0;
}
header .inside .cyan {
  width: 90px;
  height: 90px;
  background-color: #00d4d4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 640px) {
  header .inside .cyan {
    width: 65px;
    height: 65px;
    visibility: hidden;
  }
}
header .inside .cyan.is-open {
  width: 40%;
  height: 100vh;
}
@media (max-width: 1024px) {
  header .inside .cyan.is-open {
    width: 100%;
    justify-content: normal;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-y: auto;
  }
}
@media (max-width: 640px) {
  header .inside .cyan.is-open {
    visibility: visible;
    padding-top: 70px;
    padding-bottom: 170px;
  }
}
header .inside .cyan .nav {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 1024px) {
  header .inside .cyan .nav {
    width: 354px;
  }
}
@media (max-width: 640px) {
  header .inside .cyan .nav {
    width: 284px;
  }
}
header .inside .cyan .nav.is-open {
  visibility: visible;
  opacity: 1;
}
header .inside .cyan .nav ul li:not(:first-child) {
  margin-top: 26px;
}
@media (max-width: 640px) {
  header .inside .cyan .nav ul li:not(:first-child) {
    margin-top: 16px;
  }
}
header .inside .cyan .nav ul li.indent {
  padding-left: 32px;
  margin-top: 0px;
}
header .inside .cyan .nav ul li.indent .nav-link .ja {
  font-size: 20px;
}
@media (max-width: 640px) {
  header .inside .cyan .nav ul li.indent .nav-link .ja {
    font-size: 16px;
  }
}
header .inside .cyan .link-wrapper {
  display: none;
  visibility: hidden;
  opacity: 0;
  margin-top: 24px;
}
@media (max-width: 1024px) {
  header .inside .cyan .link-wrapper {
    display: block;
  }
}
header .inside .cyan .link-wrapper.is-open {
  visibility: visible;
  opacity: 1;
}
header .inside .cyan .link-wrapper ul li:not(:first-child) {
  margin-top: 20px;
}

footer {
  background-color: #444444;
  padding-top: 30px;
  padding-bottom: 90px;
}
@media (max-width: 1024px) {
  footer {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}
footer .container {
  max-width: 1024px;
  width: 100%;
  justify-content: space-between;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  footer .container {
    padding: 0 20px;
    justify-content: flex-end;
  }
}
@media (max-width: 640px) {
  footer .container {
    padding: 0 12px;
  }
}
footer .container .page-list {
  gap: 0 40px;
}
@media (max-width: 1024px) {
  footer .container .page-list {
    display: none;
  }
}
footer .container .page-list li {
  flex-direction: column;
}
footer .container .page-list li a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 0;
}
footer .container .page-list li a.child-page::before {
  content: "└ ";
}
footer .container .page-list li a:hover {
  opacity: 0.5;
}
footer .container .page-list li a.page-link {
  font-family: "Dont", sans-serif;
  font-size: 24px;
  font-weight: normal;
  opacity: 0.6;
}
footer .container .page-list li a.page-link:hover {
  opacity: 0.1;
}
footer .container .credit {
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}
footer .container .credit .icon-wrapper {
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
footer .container .credit .icon-wrapper .text {
  display: block;
  color: #00d4d4;
  font-family: "dont", sans-serif;
  font-size: 16px;
  margin-right: 8px;
}
footer .container .credit .icon-wrapper a {
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
}
footer .container .credit .icon-wrapper a:hover {
  opacity: 0.5;
}
footer .container .credit .icon-wrapper a img {
  width: 100%;
  height: 100%;
}
footer .container .credit .link-privacy {
  text-decoration: underline;
  display: block;
  margin-bottom: 12px;
}
footer .container .credit .link-privacy:hover {
  opacity: 0.5;
}
footer .container .credit a, footer .container .credit p {
  font-size: 12px;
  color: #ffffff;
}

.top-page .top-fv {
  width: 100%;
  height: 100vh;
  padding-top: 0;
}
.top-page .top-fv .scroll-arrow {
  width: 60px;
  height: 84px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 40px;
}
@media (max-width: 1024px) {
  .top-page .top-fv .scroll-arrow {
    width: 45px;
    height: 63px;
  }
}
.top-page section .container .content {
  justify-content: space-around;
  gap: 40px;
}
@media (max-width: 640px) {
  .top-page section .container .content {
    flex-direction: column;
  }
}
.top-page section .container .content .item {
  width: 100%;
  max-width: 230px;
  flex-direction: column;
}
@media (max-width: 640px) {
  .top-page section .container .content .item {
    max-width: none;
    margin-right: 0;
  }
}
.top-page section .container .content .item p {
  line-height: 24px;
  margin-bottom: 20px;
}
.top-page section .container .content .image {
  width: 100%;
  max-width: 530px;
}
@media (max-width: 640px) {
  .top-page section .container .content .image {
    max-width: none;
  }
}
.top-page section .container .content.about-brand .item, .top-page section .container .content.about-tool .item {
  width: 100%;
  max-width: none;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}
@media (max-width: 640px) {
  .top-page section .container .content.about-brand .item, .top-page section .container .content.about-tool .item {
    flex-direction: column;
  }
}
.top-page section .container .content.about-brand .item .text, .top-page section .container .content.about-tool .item .text {
  max-width: 230px;
}
.top-page section.contact {
  background-color: #0044dd;
  height: 280px;
  align-items: center;
  padding-top: 0;
  margin-top: 120px;
  margin-bottom: 0px;
}
@media (max-width: 1024px) {
  .top-page section.contact {
    margin-top: 80px;
  }
}
@media (max-width: 640px) {
  .top-page section.contact {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 60px;
  }
}
.top-page section.contact .wrapper {
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .top-page section.contact .wrapper {
    flex-direction: column;
    justify-content: start;
  }
}
.top-page section.contact .wrapper .content {
  flex-direction: column;
  color: #ffffff;
}
@media (max-width: 640px) {
  .top-page section.contact .wrapper .content {
    margin-bottom: 20px;
    margin-right: auto;
  }
}
.top-page section.contact .wrapper .content h2 {
  font-family: "Dont", sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  .top-page section.contact .wrapper .btn {
    margin-right: auto;
  }
}

.about-page section .container-meaning {
  width: 100%;
}
.about-page section .container .content {
  flex-direction: column;
}
.about-page section.overview .container .information .item {
  gap: 50px;
}
@media (max-width: 640px) {
  .about-page section.overview .container .information .item {
    flex-direction: column;
    gap: 20px;
  }
}
.about-page section.overview .container .information .item .image {
  width: calc(100% - 370px);
  height: auto;
}
@media (max-width: 640px) {
  .about-page section.overview .container .information .item .image {
    width: 100%;
    padding: 32px;
    margin: 0 auto;
  }
}
.about-page section.overview .container .information .item table {
  display: block;
}
.about-page section.overview .container .information .item table tbody tr th {
  width: 120px;
  font-weight: bold;
  text-align: left;
  padding: 8px 0;
}
.about-page section.overview .container .information .item table tbody tr td {
  width: 230px;
}
.about-page section.overview .container .logo .item p {
  text-align: center;
  margin-bottom: 40px;
}
.about-page section.overview .container .logo .item .logo {
  width: 600px;
}
@media (max-width: 640px) {
  .about-page section.overview .container .logo .item .logo {
    width: 100%;
  }
}
.about-page section.overview .container .logo .btn {
  margin-top: 40px;
}
.about-page section.overview .container .meaning h3 {
  margin-bottom: 80px;
}
.about-page section.overview .container .meaning .item {
  width: 100%;
}
.about-page section.overview .container .meaning .item li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 24px;
}
.about-page section.overview .container .meaning .item li .phrase {
  white-space: nowrap;
  font-family: "Dont", sans-serif;
  font-size: 64px;
  margin-bottom: 16px;
}
@media (max-width: 640px) {
  .about-page section.overview .container .meaning .item li .phrase {
    font-size: 56px;
  }
}
.about-page section.overview .container .meaning .item li .phrase .cyan {
  color: #00d4d4;
}
.about-page section.overview .container .meaning .item li .phrase .noto {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: bold;
}
.about-page section.overview .container .meaning .item li .mean {
  white-space: nowrap;
  line-height: 24px;
}
.about-page section.skill .container .content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-page section.skill .container .content ul .skill-item:not(:first-child) {
  margin-top: 40px;
}
.about-page section.skill .container .content ul .skill-item .skill-name {
  font-weight: bold;
  margin-bottom: 10px;
}
.about-page section.skill .container .content ul .skill-item .skill-bar {
  width: 350px;
  height: 10px;
  background-color: #eee;
  position: relative;
}
@media (max-width: 640px) {
  .about-page section.skill .container .content ul .skill-item .skill-bar {
    width: 100%;
  }
}
.about-page section.skill .container .content ul .skill-item .skill-bar .skill-param {
  height: 100%;
  background-color: #00d4d4;
  position: absolute;
}
.about-page section.skill .container .content .btn {
  margin-top: 40px;
}
.about-page section.tool .swiper-tool {
  width: 100%;
}
.about-page section.tool .swiper-tool #toolList .tool-item {
  width: 250px;
}
@media (max-width: 1024px) {
  .about-page section.tool .swiper-tool #toolList .tool-item {
    width: 20%;
  }
}
@media (max-width: 640px) {
  .about-page section.tool .swiper-tool #toolList .tool-item {
    width: 33.3333333333%;
  }
}
.about-page section.tool .swiper-tool #toolList .tool-item-child img {
  display: block;
}
.about-page section.tool .swiper-tool .btn {
  margin-top: 40px;
}

.brand-page section .container .content {
  flex-direction: column;
}
.brand-page section.color .container .content {
  height: 500px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 25% 25%;
}
@media (max-width: 1024px) {
  .brand-page section.color .container .content {
    height: 60vw;
  }
}
@media (max-width: 640px) {
  .brand-page section.color .container .content {
    display: flex;
    height: auto;
  }
}
.brand-page section.color .container .content .item {
  justify-content: flex-end;
  align-items: flex-end;
  color: #ffffff;
  padding: 16px 12px;
  border-radius: 8px;
  margin: 4px;
}
@media (max-width: 640px) {
  .brand-page section.color .container .content .item {
    height: 120px;
  }
}
.brand-page section.color .container .content .item .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  font-size: 20px;
}
.brand-page section.color .container .content .item .text .hex {
  opacity: 0.7;
  font-weight: bold;
}
.brand-page section.color .container .content .item .text .name {
  margin-top: 12px;
  font-weight: bold;
}
.brand-page section.color .container .content .dg4-cyan {
  background-color: #00d4d4;
  grid-row: 1/3;
  grid-column: 1/2;
}
.brand-page section.color .container .content .dg4-black {
  background-color: #444444;
  grid-row: 1/2;
  grid-column: 2/4;
}
.brand-page section.color .container .content .dg4-blue {
  background-color: #0044dd;
  grid-row: 2/3;
  grid-column: 2/3;
}
.brand-page section.color .container .content .dg4-orange {
  background-color: #d44d00;
  grid-row: 2/3;
  grid-column: 3/4;
}
.brand-page section.logo .container .content-mean .note a {
  word-break: break-all;
  font-size: 16px;
  color: #00d4d4;
  text-decoration: underline;
}
.brand-page section.logo .container .content-mean .note a:hover {
  opacity: 0.5;
}
.brand-page section.logo .container .content-mean .simulate-list {
  gap: 32px;
}
.brand-page section.logo .container .content-mean .simulate-list .simurate-item h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}
.brand-page section.logo .container .content-mean .simulate-list .simurate-item .item-logo {
  margin-top: 16px;
}
.brand-page section.logo .container .content-data .logo-list {
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .brand-page section.logo .container .content-data .logo-list {
    flex-direction: column;
  }
}
.brand-page section.logo .container .content-data .logo-list .logo-item {
  height: 160px;
  width: calc(33.3333333333% - 16px);
  position: relative;
  padding: 24px;
  margin: 8px;
  border-radius: 16px;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}
@media (max-width: 640px) {
  .brand-page section.logo .container .content-data .logo-list .logo-item {
    width: calc(100% - 16px);
  }
}
.brand-page section.logo .container .content-data .logo-list .logo-item img {
  -o-object-fit: contain;
     object-fit: contain;
}
.brand-page section.logo .container .content-data .logo-list .logo-item .item-link-wrapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.brand-page section.logo .container .content-data .logo-list .logo-item .item-link-wrapper a {
  word-break: break-all;
  font-size: 20px;
  font-weight: bold;
  color: #00d4d4;
  text-decoration: underline;
}
.brand-page section.logo .container .content-data .logo-list .logo-item .item-link-wrapper a:not(:first-child) {
  margin-left: 8px;
}
.brand-page section.logo .container .content-data .logo-list .logo-item.white {
  background-color: #444;
  background-image: linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%), linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}
.brand-page section.font .container .content .note a {
  word-break: break-all;
  font-size: 16px;
  color: #00d4d4;
  text-decoration: underline;
}
.brand-page section.font .container .content .sample {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  padding: 16px;
  background-color: #eee;
}
@media (max-width: 640px) {
  .brand-page section.font .container .content .sample {
    font-size: 24px;
    line-height: 36px;
    padding: 12px;
  }
}
.brand-page section.font .container .content-dont .sample {
  font-family: "Dont", sans-serif;
}

@media (max-width: 1024px) {
  .tool-page .tool-category .container h2 .en {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .tool-page .tool-category .container h2 .en {
    font-size: 24px;
  }
}
.tool-page .tool-category .tool-wrapper .tool-list {
  flex-wrap: wrap;
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item {
  width: 16.6666666667%;
}
@media (max-width: 1024px) {
  .tool-page .tool-category .tool-wrapper .tool-list .tool-item {
    width: 33.3333333333%;
  }
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .cover img {
  display: block;
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal {
  visibility: hidden;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .close-area {
  background-color: #444444;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card {
  background-color: #ffffff;
  align-items: center;
  width: 70vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 150%;
  left: 50%;
  padding: 64px;
}
@media (max-width: 1024px) {
  .tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card {
    width: 90vw;
  }
}
@media (max-width: 640px) {
  .tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px;
  }
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .img {
  width: 60%;
}
@media (max-width: 640px) {
  .tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .img {
    width: 100%;
    max-width: 380px;
  }
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .desc {
  width: 40%;
  line-height: 1.5;
  margin-left: 40px;
}
@media (max-width: 640px) {
  .tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .desc {
    width: 100%;
    margin-left: 0;
    margin-top: 24px;
  }
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .desc .name {
  font-weight: bold;
  font-size: 24px;
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 40px;
  height: 40px;
}
@media (max-width: 640px) {
  .tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .close-btn {
    top: 20px;
    right: 20px;
  }
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .close-btn::before, .tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .close-btn::after {
  content: "";
  display: block;
  width: 40px;
  border-top: 3px solid #444444;
  position: absolute;
  top: 50%;
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .close-btn::before {
  transform: rotate(25deg);
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal .card .close-btn::after {
  transform: rotate(-25deg);
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal.active {
  visibility: visible;
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal.active .close-area {
  opacity: 0.5;
  pointer-events: auto;
}
.tool-page .tool-category .tool-wrapper .tool-list .tool-item .modal.active .card {
  top: 50%;
}

.works-page section .container .items {
  width: 100%;
  flex-wrap: wrap;
}
.works-page section .container .items .item {
  width: calc(33.3333333333% - 16px);
  padding-bottom: 24px;
  margin: 8px;
}
@media (max-width: 640px) {
  .works-page section .container .items .item {
    width: calc(50% - 16px);
  }
}
.works-page section .container .items .item .image {
  display: block;
}
.works-page section .container .items .item .image object {
  padding: 50px 0;
}
.works-page section .container .items .item .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .works-page section .container .items .item .title {
    font-size: 14px;
    line-height: 20px;
  }
}
.works-page section .container .items .item .btn {
  margin-top: 15px;
}
.works-page section.font .container .image-desc {
  max-width: 500px;
  margin-bottom: 30px;
}
.works-page section.font .container .content {
  flex-direction: column;
}
.works-page section.font .container .content .item {
  width: 100%;
  padding: 0;
  position: relative;
}
.works-page section.font .container .content .item .item-letter {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  padding: 16px 16px 32px;
  background-color: #eee;
}
.works-page section.font .container .content .item .item-letter.normal {
  font-family: "Dont", sans-serif;
}
.works-page section.font .container .content .item .item-letter.round {
  font-family: "Dont Round", sans-serif;
}
.works-page section.font .container .content .item .item-letter.circle {
  font-family: "Dont Circle", sans-serif;
}
.works-page section.font .container .content .item .dl-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #00d4d4;
  text-decoration: underline;
}
.works-page section.photo .container #postList {
  flex-wrap: wrap;
}
.works-page section.photo .container #postList .post-photo {
  width: 20%;
  height: auto;
}
@media (max-width: 640px) {
  .works-page section.photo .container #postList .post-photo {
    width: 33.3333333333%;
  }
}
.works-page section.photo .container #postList .post-photo a {
  display: block;
  width: 100%;
  height: 100%;
}
.works-page section.photo .container .btn {
  margin-top: 32px;
}
.works-page section.video .container #videoList .item .image {
  position: relative;
  height: auto;
}
.works-page section.video .container #videoList .item .image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.works-page section.video .container #videoList .item .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-page .flow .container .content {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 20px;
}
.service-page .flow .container .content .items {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 0;
  padding: 20px 0;
}
@media (max-width: 640px) {
  .service-page .flow .container .content .items {
    width: 100%;
  }
}
.service-page .flow .container .content .items h3 {
  margin-bottom: 56px;
}
.service-page .flow .container .content .items .item {
  width: 300px;
  padding-left: 32px;
  position: relative;
}
@media (max-width: 1024px) {
  .service-page .flow .container .content .items .item {
    width: 270px;
  }
}
@media (max-width: 640px) {
  .service-page .flow .container .content .items .item {
    width: 100%;
  }
}
.service-page .flow .container .content .items .item::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #00d4d4;
  border-radius: 18px;
  margin: auto 16px auto 0px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.service-page .flow .container .content .items .item:not(:nth-of-type(1)) {
  margin-top: 56px;
}
.service-page .flow .container .content .items .item .text {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .service-page .flow .container .content .items .item .text {
    font-size: 16px;
  }
}
.service-page .flow .container .content .items .item .badge {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 5px;
  margin-top: 16px;
}
@media (max-width: 640px) {
  .service-page .flow .container .content .items .item .badge {
    font-size: 12px;
  }
}
.service-page .flow .container .content .items .item .badge.gray {
  background-color: #444444;
}
.service-page .flow .container .content .items .item .badge.orange {
  background-color: #d44d00;
}
.service-page .flow .container .content .items .item .badge.indigo {
  background-color: #0044dd;
}
.service-page .btn {
  margin-top: 40px;
}
.service-page .plan .container .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 32px;
}
.service-page .plan .container .content .items {
  flex-wrap: wrap;
  gap: 20px 40px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .service-page .plan .container .content .items {
    gap: 20px 25px;
  }
}
.service-page .plan .container .content .items .item {
  width: 380px;
  font-weight: bold;
  color: #ffffff;
  padding: 16px;
}
@media (max-width: 1024px) {
  .service-page .plan .container .content .items .item {
    width: 350px;
  }
}
@media (max-width: 640px) {
  .service-page .plan .container .content .items .item {
    width: 100%;
  }
}
.service-page .plan .container .content .items .item .title {
  font-size: 20px;
  text-align: center;
}
.service-page .plan .container .content .items .item .price {
  font-family: "Dont", sans-selif;
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin-top: 12px;
}
.service-page .plan .container .content .items .item .text {
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}
.service-page .plan .container .content.setplan .items .item {
  background-color: #0044dd;
}
.service-page .plan .container .content.setplan .items .item .text {
  margin-bottom: 0;
}
.service-page .plan .container .content.single .items .item {
  background-color: #00d4d4;
}
.service-page .plan .container .btn {
  margin-top: 32px;
}

.contact-page .message .content {
  justify-content: center;
  gap: 32px;
}
@media (max-width: 640px) {
  .contact-page .message .content {
    gap: 24px;
  }
}
.contact-page .link .content .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 640px) {
  .contact-page .link .content .item {
    flex-wrap: wrap;
  }
}
.contact-page .link .content .item li {
  width: 48px;
  margin: 8px;
}
@media (max-width: 640px) {
  .contact-page .link .content .item li {
    width: calc(25% - 16px);
  }
}
.contact-page .link .content .item li:hover {
  opacity: 0.5;
}
.contact-page .link .content .item li a {
  display: block;
}

.privacy-page .container .content h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2em;
}
.privacy-page .container .content .item {
  font-size: 16px;
  line-height: 2em;
}
.privacy-page .container .content .item ul {
  padding-top: 8px;
  padding-left: 24px;
}
.privacy-page .container .content .item ul a {
  word-break: break-all;
  font-size: 16px;
  color: #00d4d4;
  text-decoration: underline;
}
.privacy-page .container .content .item ul a:hover {
  opacity: 0.5;
}

.notfound-page .notfound-fv {
  width: 100%;
  height: 100vh;
  position: relative;
  align-items: center;
  padding-top: 0;
  margin-bottom: 0;
}
.notfound-page .notfound-fv::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url(/assets/image/top-fv.webp);
  background-position: center center;
  background-size: cover;
  filter: blur(16px);
  opacity: 0.6;
  z-index: -1;
}
.notfound-page .notfound-fv .content h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 120px;
  font-family: "Dont", sans-serif;
  color: #00d4d4;
}
.notfound-page .notfound-fv .content p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 36px;
  font-family: "Dont", sans-serif;
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */