// font
@font-face
  font-family: 'Dont'
  src: url(/assets/font/Dont.ttf)

@font-face
  font-family: 'Dont Round'
  src: url(/assets/font/DontRound.ttf)

@font-face
  font-family: 'Dont Circle'
  src: url(/assets/font/DontCircle.ttf)

@font-face
  font:
    family: 'Noto Sans JP'
    weight: normal
  src: url(/assets/font/NotoSansJP-Regular.otf)

@font-face
  font:
    family: 'Noto Sans JP'
    weight: bold
  src: url(/assets/font/NotoSansJP-Bold.otf)

body
  font-family: 'Noto Sans JP', sans-serif
  color: $dg4-black

main
  min-height: calc(100vh - 142px)

header,
main,
footer
  overflow: hidden

.iphone .about-page section.overview .container .ar .item
  .none
    display: none
  .block
    display: block

.ipad .about-page section.overview .container .ar .item
  .none
    display: none
  .block
    display: block

.chrome .about-page section.overview .container .ar .item
  .none
    display: block
  .block
    display: none

*
  font-weight: normal
  box-sizing: border-box

  cursor: -webkit-image-set(url(/assets/image/cursor-normal.png) 1x, url(/assets/image/cursor-normal@2x.png) 2x), default
  user-select: none
  scroll-behavior: smooth

// image
img
  width: 100%
  height: auto

  pointer-events: none

// flex
.is-flex
  display: flex

// center
.center
  margin:
    left: auto
    right: auto

// container
.container
  width: $c-width-pc
  @include tab
    width: $c-width-tab
    padding:
      left: 20px
      right: 20px
  @include sp
    width: $c-width-sp
    padding:
      left: 12px
      right: 12px

// responsive
@include pc
  .is-pc
    display: block
  .is-tab
    display: none
  .is-sp
    display: none

@include tab
  .is-pc
    display: none
  .is-tab
    display: block
  .is-sp
    display: none

@include sp
  .is-pc
    display: none
  .is-tab
    display: none
  .is-sp
    display: block

// breadcrumbs
.breadcrumbs
  width: 100%
  background-color: $dg4-blue

  padding:
    top: 106px
    bottom: 20px

  z-index: 10

  @include tab
    padding: 82px 20px 12px 20px

  @include sp
    padding: 67px 12px 17px 12px

  .wrapper
    width: 100%
    max-width: 1024px

    @include tab
      max-width: none

    a
      font:
        size: 16px
        weight: bold
      text-decoration: none
      color: $white
      &:not(:first-child)
        margin-left: 15px
        &::before
          content: ''
          display: inline-block
          width: 7px
          height: 7px
          border:
            top: solid 2px $white
            right: solid 2px $white
          transform: rotate(45deg)

          margin:
            right: 20px
            bottom: 1px

// pagetitle
.page-title
  padding-top: 0px
  height: 300px
  position: relative

  @include tab
    height: 200px

  @include sp
    height: 120px

  h1
    width: 100%
    max-width: 1024px
    font:
      family: 'Dont', sans-serif
      size: 100px
    color: $white
    z-index: 5
    position: absolute

    top: 50%
    left: 50%
    transform: translateY(-50%) translateX(-50%)

    @include tab
      max-width: none
      width: calc( 100% - 40px )

    @include sp
      width: calc( 100% - 24px )
      font-size: 60px

  .bg
    width: 100%
    height: 100%

    background:
      size: cover
      position: center center
    filter: brightness(60%)

// section
section
  padding-top: 120px

  @include tab
    padding-top: 80px

  @include sp
    padding-top: 60px
  .container
    h2
      width: fit-content
      height: 100px
      position: relative
      font:
        family: 'Dont', sans-serif
        size: 60px

      padding-top: 20px

      margin-bottom: 80px

      @include tab
        margin-bottom: 60px

      @include sp
        height: 50px
        font-size: 36px

        padding-top: 10px
        margin-bottom: 40px

      &::before, &::after
        content: ''
        position: absolute
        width: 100px
        height: 100px
        background:
          size: cover
          position: center center

        top: 0px

      &::before
        background-image: url(/assets/image/h2-l.svg)
        left: -130px

        @include sp
          width: 50px
          height: 50px
          left: -75px

      &::after
        background-image: url(/assets/image/h2-r.svg)
        right: -130px

        @include sp
          width: 50px
          height: 50px
          right: -75px

    .content
      &:not(:nth-of-type(1))
        padding-top: 80px

        @include tab
          padding-top: 60px

        @include sp
          padding-top: 40px

      h3
        font:
          family: 'Dont', sans-serif
          size: 36px
        margin-bottom: 30px

        @include sp
          font-size: 22px
          margin-bottom: 20px

        &::after
          content: ''
          display: block
          width: 50px
          height: 4px
          background-color: $dg4-blue
          margin-top: 20px

  &:last-child
    margin-bottom: 160px

    @include tab
      margin-bottom: 120px

    @include sp
      margin-bottom: 80px

// link
a
  text-decoration: none
  color: $dg4-black
  font-size: 24px
  transition: all 0.2s

  cursor: -webkit-image-set(url(/assets/image/cursor-pointer.png) 1x, url(/assets/image/cursor-pointer@2x.png) 2x), pointer

  & > *
    cursor: -webkit-image-set(url(/assets/image/cursor-pointer.png) 1x, url(/assets/image/cursor-pointer@2x.png) 2x), pointer

  @include sp
    font-size: 16px

  // button
  &.btn
    display: block

    transition: all 0.2s
    font-weight: bold
    background-color: $white

    width: 160px
    height: 50px
    line-height: 50px
    text-align: center

    box-shadow: 4px 4px 0px 0px $dg4-black

    @include sp
      width: 120px
      height: 40px
      line-height: 40px

    &.blue
      background-color: $dg4-blue
      color: $white

    &:hover
      box-shadow: 0px 0px 0px 0px $dg4-black

      transform: translate(4px, 4px)

  &:hover
    transition: all 0.2s
