---
const navItems = [
  { label: 'About', href: '/about' },
  { label: 'Works', href: '/works' },
  { label: 'Contact', href: '/contact' },
];
---

<header>
  <nav>
    <ul>
      {
        navItems.map((item) => (
          <li>
            <a href={item.href}>{item.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
